{{yield}}
{{!-- {{log 'postUSERS' users}} --}}
{{#if replies}}
	{{#each comments as |comment|}}
		{{#if comment.parent}}

		{{else}}
			<div class="row {{pergunta-class perguntas positivos comment.id}} comment-reply">
				<div class="col l12">
				{{!-- {{log 'perguntas-template' comment}} --}}
					<div class="comment-box comment-reply-box">
					  	{{#each users as |user|}}
						  {{user-info comment.id comment.from.id user}} 
						{{/each}}
						<div class="comment-box-body">
							<p>
								<strong>{{comment.from.name}}</strong>&nbsp;{{comment.message}}
							</p>
							  	<img src="/assets/images/facebook-like.png" class="comment-like fb-reactions"> {{comment.like_count}}

						</div>
						<div class="comment-box-footer">
							<ul class="indicators">
								<li class="indicators-item green {{comments-indicators perguntas positivos comment.id}}">
									
								</li>
								<li class="indicators-item yellow {{comments-indicators perguntas positivos comment.id}}">
									
								</li>
								<li class="indicators-item red {{comments-indicators perguntas positivos comment.id}}">
									
								</li>
								{{!-- {{comments-indicators perguntas positivos comment.id}} --}}
							</ul>
						</div>
						{{!-- <hr> --}}
					</div>

				</div>
			</div>
			{{#if comment.comments}}
				{{comments-list comments=comment.comments.data users=users perguntas=perguntas positivos=positivos replies=true}}
			{{/if}}
		{{/if}}
	{{/each}}
{{else}}  
	<div class="col l8 comment-box-row">
	{{#if comments}}
		{{#each comments as |comment|}}
			{{#if comment.parent}}

			{{else}}
				<div class="row comment-parent {{pergunta-class perguntas positivos comment.id}}">
					<div class="col l12">
					{{!-- {{log 'perguntas-template' comment}} --}}
						<div class="comment-box">
						  	{{#each users as |user|}}
							  {{user-info comment.id comment.from.id user}} 
							{{/each}}
							<div class="comment-box-body">
								<p>
									<strong>{{comment.from.name}}</strong>&nbsp;{{comment.message}}
								</p>
								  	<img src="/assets/images/facebook-like.png" class="comment-like fb-reactions"> {{comment.like_count}}

							</div>
							<div class="comment-box-footer">
								<ul class="indicators">
									<li class="indicators-item green {{comments-indicators perguntas positivos comment.id}}">
									</li>
									<li class="indicators-item yellow {{comments-indicators perguntas positivos comment.id}}">
									</li>
									<li class="indicators-item red {{comments-indicators perguntas positivos comment.id}}">
									</li>
									{{!-- {{comments-indicators perguntas positivos comment.id}} --}}
								</ul>
							</div>
						</div>
					</div>
				</div>
				{{#if comment.comments}}
					{{comments-list comments=comment.comments.data users=users perguntas=perguntas positivos=positivos replies=true}}
				{{/if}}
			{{/if}}
		{{/each}}
	{{else}}
		Sem comentários
	{{/if}}
	</div>
{{/if}}
{{!-- </div> --}}