{{yield}}
<div class="container">
	<div class="row">
		<div id="cover-box" class="col l12 m12 s12" style="position:relative;height:{{tamanhoCover}}px;background-image:url({{page.cover.source}});background-size: cover;background-repeat: no-repeat;background-attachment: scroll;background-position: center center;">
			  <div class="page-info-box">
			  	<div class="page-info-box-header">
				  	<img src="{{page.picture.data.url}}" alt="...">
				  	<h3 class="page-info-box-title">{{page.name}}</h3>
				  	<small>{{page.category}}</small>
				</div>
			  	<div class="page-info-box-footer">
				  	<p class="page-info-box-about">
				  		{{page.about}}
				  	</p>
				</div>
			  </div>
		</div>
	</div>
	{{posts-list posts=page.posts.data proxy=proxy reactions=reactions session=session}}
</div>