{{yield}}
{{log 'postModel' post}}
<div class="row post-row">
	<div class="col l4">
		{{#md-card title=(post-class post.type) titleClass="post-title blue-text" 
	      image=post.full_picture class="post-card"}}
	        {{#md-card-content}}
	          {{substr post.message size=40}}
	          <hr>
	          <div class="post-meta-box">
	            {{#if post.shares.count}}
	              <p>
	                {{pluralize post.shares.count 'compartilhamento'}}
	              </p>
	              <hr>
	            {{/if}}
	            isFollowing: {{isFollowing}}
	          	<ul>
	               <li><img src="/assets/images/facebook-like.png" class="fb-reactions"> {{post.like.summary.total_count}}</li>
			       <li><img src="/assets/images/facebook-like.png" class="fb-reactions"> {{post.love.summary.total_count}}</li>
			       <li><img src="/assets/images/facebook-wow.png" class="fb-reactions"> {{post.wow.summary.total_count}}</li>
			       <li><img src="/assets/images/facebook-haha.png" class="fb-reactions"> {{post.haha.summary.total_count}}</li>
			       <li><img src="/assets/images/facebook-sad.png" class="fb-reactions"> {{post.sad.summary.total_count}}</li>
			       <li><img src="/assets/images/facebook-angry.png" class="fb-reactions"> {{post.angry.summary.total_count}}</li>
	          	</ul>
	            <p class="post-type">
	              {{#if post.comments}}
	                {{pluralize post.comments.summary.total_count 'comentário'}}
	              {{/if}}
	            </p>
	          </div>
	        {{/md-card-content}}
	        {{#md-card-action}}
	            <ul class="indicators">
					<li class="indicators-item green">
						
					</li>
					<li class="indicators-item yellow">
						
					</li>
					<li class="indicators-item red">
						
					</li>
				</ul>
	        {{/md-card-action}}
	        {{#md-card-action}}
				{{!-- {{link-to "Seguir" "analytics.follow.add" post.id}}
				{{link-to "Gravar" "analytics.record.add" post.id}} --}}
				<a href="#" {{action "followPost" post}}>Seguir</a>
				<a href="#" {{action "recordPost" post}}>Gravar</a>
	        {{/md-card-action}}
      	{{/md-card}}
    </div>
	{{comments-list comments=post.comments.data users=postUsers perguntas=post.comments.perguntas positivos=post.comments.positivos replies=false}}
</div>