{{yield}}
<div class="row isogrid">
  {{#each posts as |post|}}
  	<div class="col l4 m4 s12 isoitem">
      {{#md-card title=(post-class post.type) titleClass="post-title blue-text" 
      image=post.full_picture}}
        {{#md-card-content}}
          {{substr post.message size=40}}
          <hr>
          <div class="post-meta-box">
            {{#if post.shares.count}}
              <p>
                {{pluralize post.shares.count 'compartilhamento'}}
              </p>
              <hr>
            {{/if}}
          	<ul>
              {{#each reactions as |reaction|}}
                {{post-reactions post.id reaction}}
              {{/each}}
          	</ul>
            <p class="post-type">
              {{#if post.comments}}
                {{pluralize post.comments.summary.total_count 'comentário'}}
              {{/if}}
            </p>
          </div>
        {{/md-card-content}}
        {{#md-card-action}}
            {{#link-to "post" post.id}}Ver mais{{/link-to}}
            {{!-- {{#link-to "noticia"}}Link 2{{/link-to}} --}}
        {{/md-card-action}}
      {{/md-card}}
    </div>
{{/each}}
</div>