{{yield}}
<div class="row isogrid">
  {{#each posts as |post|}}
  	<div class="col l4 m4 s12 isoitem">
      {{#md-card title='Título do post'
      image=post.full_picture 
      activator=true}}
        {{#md-card-content}}
          <p>
            {{substr post.message size=12}}
            {{!-- <hr>
            Story: {{post.story}}
            <br>
            Nome: {{post.name}}
            <br>
            Caption: {{post.caption}}
            <br>
            Descrição: {{substr post.description size=5}}
            <br>
            Tipo: {{post.type}}
            <br>
            Tipo de status: {{post.status_type}} --}}
            {{!-- {{#each post as |item|}}
              
            {{/each}} --}}
          </p>
          {{!-- <hr>
          <p>
            Tipo de status: {{post.status_type}}
          </p> --}}
          <hr>
          <div class="post-meta-box">
            {{#if post.shares.count}}
              <p>
                {{pluralize post.shares.count 'compartilhamento'}}
              </p>
              <hr>
            {{/if}}
          	<ul>
              {{log 'proxy' proxy}}
              {{#each proxy as |reaction|}}
                {{post-reactions post.id reaction}}
              {{/each}}
          	</ul>
            <p class="post-type">
              {{post-class post.type}}
            </p>
          </div>
          
        {{/md-card-content}}
        {{#md-card-reveal}}
          <p>
           + informações
          </p>
        {{/md-card-reveal}}
      {{/md-card}}
    </div>
{{/each}}
</div>